@font-size-xxxs: 10px;
@font-size-xxs: 11px;
@font-size-xs: 12px;
@font-size-sm: 14px;
@font-size-base: 16px;
@font-size-lg: 18px;
@font-size-xl: 20px;

@color-background: #fff;
@color-body-text: #343434;
@color-link-text: #0000ff;
@color-link-hover-text: #000099;

@height-vertical-xl: 32px;
@height-vertical-lg: 24px;
@height-vertical-base: 16px;
@height-vertical-sm: 8px;
@height-vertical-xs: 4px;
